<header style="margin-top: -8vh;">
  <div id="carouselExampleIndicators" class="carousel slide" style="margin-top: 9px;" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <br>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100 img-fluid" src="../../assets/img/slides/WhatsApp Image 2021-05-01 at 2.00.54 AM.jpeg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 img-fluid" src="../../assets/img/slides/WhatsApp Image 2021-05-01 at 1.50.14 AM.jpeg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 img-fluid" src="../../assets/img/slides/WhatsApp Image 2021-05-01 at 1.34.22 AM.jpeg" alt="Third slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 img-fluid" src="../../assets/img/slides/WhatsApp Image 2021-05-01 at 1.12.40 AM.jpeg" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  </div>
</header>
<!-- <div class="row">
  <ul class="col-md-12 selling-point--left web-only">
    <li>
      <div class="sprite desktop-Guarantee">
      </div>
      <p>Genuine Medicines</p>
    </li>
    <li>
      <div class="sprite desktop-Delivery"></div>
      <p>Timely Delivery</p>
    </li>
    <li>
      <div class="sprite desktop-Refund"></div>
      <p>Easy Returns and Refunds</p>
    </li>
    <li>
      <div class="sprite desktop-Secure"></div>
      <p>Secure Payments</p>
    </li>
    <li class="py-2">
      <div class="selling-point--stickers-standard">Delivery in<span class="time"> 24-48 </span><span
          class="hrs">HRS</span></div>
    </li>
  </ul>
  </div> -->
  <!-- Page Content -->
<div class="container">

  <!-- <div class="row">
    <div class="col-md-5">
      <img class="welimg img-fluid" src="./assets/img/slides/wel1.jpg">
    </div>
    <div class="about col-md-6">
      <h3 style="color:green">Welcome to Awzing Heathcare pvt. ltd.</h3>
        <p>Awzing Heathcare pvt. ltd. is a pharmaceutical company headquartered at Panchkula(HR). Our main activities are focused on to improve the quality of life by providing better health services by developing and marketing quality and proprietary pharmaceutical product.
        Every molecule here is researched to trace the soul of happiness. Our significant achievements during the last few years have helped us build an Organization and infrastructure that has led Awzing to spread its wings. </p>
        <p>At Awzing, New and innovative business models are in motion to make the most of emerging opportunities. We aim to market high quality and affordable pharmaceuticals to be made available everywhere, everyday.</p>
        <div class="readMore"> <a routerLink="/about" class="btn">Read More</a></div>
      </div>
  </div> -->

  <div class="order row" style="margin-top: 10vh;">
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card shadow">
        <a href="#"><img class="card-img-top" src="../../assets/img/download.jpeg" alt=""></a>
        <button  class="btn btn-primary" (click)="openDialog()">Order</button>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card shadow">
        <a href="#"><img class="card-img-top" style="width: 349px;
          height: 180px;" src="../../assets/img/images.jpeg" alt=""></a>
        <!-- <button class="btn btn-primary">Order</button> -->
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card shadow">
        <a href="#"><img class="card-img-top" style="width: 349px;
          height: 180px;" src="../../assets/img/images.png" alt=""></a>
        <!-- <button class="btn btn-primary">Order</button> -->
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h4 class="mid-header">
    Shop By Category
  </h4>
    <div class="row">
      <div class="col-sm-2 portfolio-item">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="../../assets/img/product_catergory/covid.png" alt=""></a>
        </div>
      </div>
      <div class="col-sm-2 portfolio-item">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="../../assets/img/product_catergory/ayurveda.png" alt=""></a>
        </div>
      </div>
      <div class="col-sm-2 portfolio-item">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="../../assets/img/product_catergory/health.png" alt=""></a>
        </div>
      </div>
      <div class="col-sm-2 portfolio-item">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="../../assets/img/product_catergory/nutrition.png" alt=""></a>
        </div>
      </div>
      <div class="col-sm-2 portfolio-item">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="../../assets/img/product_catergory/sexual.png" alt=""></a>
        </div>
      </div>
      <div class="col-sm-2 portfolio-item">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="../../assets/img/product_catergory/weight.png" alt=""></a>
        </div>
      </div>
    </div>
</div>

<div class="container">
  <h4 class="mid-header">
    Shop By Health Conditions
  </h4>
    <div class="row">
      <div class="col-sm-2 portfolio-item">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="../../assets/img/heath conditions/lungs.jpeg" alt=""></a>
        </div>
      </div>
      <div class="col-sm-2 portfolio-item">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="../../assets/img/heath conditions/eye.jpeg" alt=""></a>
        </div>
      </div>
      <div class="col-sm-2 portfolio-item">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="../../assets/img/heath conditions/hair.jpeg" alt=""></a>
        </div>
      </div>
      <div class="col-sm-2 portfolio-item">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="../../assets/img/heath conditions/neuro.jpeg" alt=""></a>
        </div>
      </div>
      <div class="col-sm-2 portfolio-item">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="../../assets/img/heath conditions/ortho.jpeg" alt=""></a>
        </div>
      </div>
      <div class="col-sm-2 portfolio-item">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="../../assets/img/heath conditions/stomach.jpeg" alt=""></a>
        </div>
      </div>
    </div>
</div>

<div class="container">
  <h4 class="mid-header">
    Popular Products
  </h4>
    <div class="row">
      <div class="col-sm-2 portfolio-item">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="../../assets/img/popular_products/15.jpeg" alt=""></a>
        </div>
      </div>
      <div class="col-sm-2 portfolio-item">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="../../assets/img/popular_products/16.jpeg" alt=""></a>
        </div>
      </div>
      <div class="col-sm-2 portfolio-item">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="../../assets/img/popular_products/17.jpeg" alt=""></a>
        </div>
      </div>
      <div class="col-sm-2 portfolio-item">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="../../assets/img/popular_products/18.jpeg" alt=""></a>
        </div>
      </div>
      <div class="col-sm-2 portfolio-item">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="../../assets/img/popular_products/19.jpeg" alt=""></a>
        </div>
      </div>
      <div class="col-sm-2 portfolio-item">
        <div class="card shadow">
          <a href="#"><img class="card-img-top" src="../../assets/img/popular_products/20.jpeg" alt=""></a>
        </div>
      </div>
    </div>
</div>


<div style="margin-bottom: 15vh;"></div>
