<div class="container">
  <div class="row">
      <aside class="col-lg-9">
          <div class="card">
              <div class="table-responsive">
                  <table class="table table-borderless table-shopping-cart">
                      <thead class="text-muted">
                          <tr class="small text-uppercase">
                              <th scope="col" width="400px">Product</th>
                              <th scope="col" width="300px">Quantity</th>
                              <th scope="col" width="250px">Price</th>
                              <th scope="col" width="100px"></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>
                                  <figure class="itemside align-items-center">
                                      <div class="aside"><img src="https://i.imgur.com/1eq5kmC.png" class="img-sm"></div>
                                      <figcaption class="info"> <a href="#" class="title text-dark" data-abc="true">Tshirt with round nect</a>
                                          <p class="text-muted small">SIZE: L <br> Brand: MAXTRA</p>
                                      </figcaption>
                                  </figure>
                              </td>
                              <td> <select style="width: 5vw;" class="form-control">
                                      <option>1</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                  </select> </td>
                              <td>
                                  <div class="price-wrap"> <span class="price">&nbsp; &#8377;10.00</span> <small class="text-muted"> $9.20 each </small> </div>
                              </td>
                              <td><a data-abc="true" >
                                <span class="material-icons red cursor-pointer">
                                  delete
                                </span>
                              </a> </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </aside>
      <aside class="col-lg-3">
          <!-- <div class="card mb-3">
              <div class="card-body">
                  <form>
                      <div class="form-group"> <label>Have coupon?</label>
                          <div class="input-group"> <input type="text" class="form-control coupon" name="" placeholder="Coupon code"> <span class="input-group-append"> <button class="btn btn-primary btn-apply coupon">Apply</button> </span> </div>
                      </div>
                  </form>
              </div>
          </div> -->
          <div class="card">
              <div class="card-body">
                  <dl class="dlist-align">
                      <dt>Total price:</dt>
                      <dd class="text-right ml-3"> &nbsp; &#8377;69.97</dd>
                  </dl>
                  <dl class="dlist-align">
                      <dt>Discount:</dt>
                      <dd class="text-right text-danger ml-3">&nbsp; &#8377;10.00</dd>
                  </dl>
                  <dl class="dlist-align">
                      <dt>Total:</dt>
                      <dd class="text-right text-dark b ml-3"><strong> &nbsp; &#8377;59.97</strong></dd>
                  </dl>
                  <hr> <a href="#" class="btn btn-primary btn-main" data-abc="true"> Checkout </a> <a href="#" class="btn btn-success btn-main mt-2" data-abc="true">Continue Shopping</a>
              </div>
          </div>
      </aside>
  </div>
</div>
