<div class="container" style="margin-top: 5vh;" *ngIf="product">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" routerLinkActive="active"><a routerLink="/home" >Home</a></li>
      <li class="breadcrumb-item" routerLinkActive="active"><a routerLink="/product" >Product</a></li>
      <li class="breadcrumb-item"  routerLinkActive="active" aria-current="page">View</li>
    </ol>
  </nav>
  <div class="row" *ngIf="product">
    <div class="col-sm-3">
      <div class="card">
        <a><img class="card-img-top" [src]="product.image?product.image:'../../../../../assets/img/defaultproduct.png'" alt=""></a>
        <!-- <span style="padding: 5px;" class="ml-1">
          MRP: &#8377; {{product.MRP}}
        </span> -->
      </div>
    </div>
    <div class="col-sm-6">
      <div>
        <h3 class="title">{{product.medicine_name | uppercase}}</h3>
        <a style="color: skyblue;font-weight: bold;">{{product.manufacturer}}</a>
        <br><br>
        <span class="mrp mt-4 mr-2">MRP: {{product.MRP}}</span>
        <span class="discount">{{discount}} % off</span>
        <div class="title mt-4 mb-4">
          Best Price: {{product.best_price}}
        </div>
        <button *ngIf="!addToCartFlag" (click)="addToCart()" class="btn btn-primary mt-4">Add To Cart</button>
        <label *ngIf="addToCartFlag" style="font-weight: bold;">Quantity: &nbsp;</label>
        <select style="width: 4vw;" class="form-control"  (change)="getCartValue($event.target.value)" *ngIf="addToCartFlag" class="form-select" aria-label="Default select example">
          <option *ngFor="let i of quantityCount" [value]="i">{{i}}</option>
        </select><br>
        <button *ngIf="addToCartFlag" routerLink="/cart" class="btn btn-primary mt-4">Go To Cart</button>
      </div>
    </div>
    <div class="col-sm-3">

    </div>
    <div class="row mt-4 ml-3">
      <div class="col-sm-9">
        <div class="description" *ngIf="product.description">
          <h2>Description</h2>
          <p>
            {{product.description}}
          </p>
        </div>
        <div class="description" *ngIf="product.composition">
          <h2>Ingredients</h2>
          <ul *ngFor="let comp of product.composition">
            <li>{{comp}}</li>
          </ul>
        </div>
        <div class="description" *ngIf="product.benefits">
          <h2>Benefits</h2>
          <ul *ngFor="let ben of product.benefits">
            <li>{{ben}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>
